

body {
  background-color: #F0ECEE;
  font-family: 'Fira Sans', sans-serif; 
  display: none;
}

ul{
	
	list-style-type: none;


}











@media only screen and (min-width: 768px){

body {
  background-color: #F0ECEE;
  font-family: 'Fira Sans', sans-serif; 
  background: url(bulldog.jpg);
  background-size: 1400px 1000px;
  padding-top: 3px;
  padding-left: 140px;
  
}
header {
	font-size: 23px;
	font-weight: 100;
}
ul{
	
	list-style-type: none;
	display: inline-flex;
	position: relative;
	left: 393px;
}
li{
	font-weight: 100;
	font-size: 15px;
	color: #88898B;
	display:inline;
    padding: 10px 15px;
}
li:last-child {
  background: #FB2537;
  padding: 12px 16px;
  border-radius: 5px;
  color: white;
  position: relative;
  bottom: 15px;
  top: -3px; 
  cursor:pointer;
}
h2{
	padding-top: 150px;
	font-size: 27px;
	font-weight: 900; 
	display: inline-block;
	width: 500px
}
h3{
	font-size: 18px;
	font-weight: 10;
	width: 550px;
	color: #88898B;
}

h4{
	display: inline-block;
	background: #FB2537;
	padding: 13.5px 50px;
	border-radius: 5px;
	color: white;
	font-weight: 100;
	cursor:pointer;

}
}
